<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.posterme.app"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>PosterMe</name>

    <description>
        A simple game, in which you need to recognize posters of movies.
    </description>

    <author href="https://projects.karasik.org/posterme" email="rubik@karasik.org">
        Reuven Karasik and Yotam Nachum
    </author>

    <preference name="phonegap-version" value="3.7.0" />
    <preference name="orientation" value="portrait" />
    <preference name="permissions" value="none"/>

    <icon src="logo.png" />
    <icon src="logos/drawable-mdpi/ic_logo.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="logos/drawable-hdpi/ic_logo.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="logos/drawable-xhdpi/ic_logo.png" gap:platform="android" gap:qualifier="xhdpi" />
    <icon src="logos/drawable-xxhdpi/ic_logo.png" gap:platform="android" gap:qualifier="xxhdpi" />

</widget>